body {
  margin: 0.0rem;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.25rem;
  text-shadow: 0.25rem 0.25rem 0.375rem #33998575;
  margin-top: 1.5rem;
  position: relative;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  text-shadow: 0.1875rem 0.1875rem 0.25rem #33998575;
  position: relative;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  text-shadow: 0.125rem 0.125rem 0.1875rem #33998575;
  position: relative;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem #33998575;
  position: static;
}

p {
  position: relative;
}

hr {
  width: 90%;
  height: 0.25rem;
  background-color: #e0efea;
  color: #e0efea95;
  border: 0.0rem none;
  margin: 0.333rem auto;
  position: relative;
}

.top-box {
  padding-top: 1rem;
  background-color: #e0efea95;
  position: relative;
}

.middle-box {
  padding-top: 1rem;
  background-color: #e0efea95;
  position: relative;
}

.bottom-box {
  padding-top: 1rem;
  background-color: #e0ffff95;
  position: relative;
}

.top-cloud {
  left: 10rem;
  top: 1.75rem;
  position: relative;
}

.me-text {
  margin-bottom: 0.0rem;
  position: relative;
}

.pro-text {
  font-style: italic;
  font-weight: normal;
  text-shadow: 0.125rem 0.125rem 0.25rem #33998575;
  margin-top: 0.0rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.blurb {
  width: 60%;
  margin: auto;
}

.bottom-cloud {
  margin-top: 2.25rem;
  right: -2rem;
  bottom: 8rem;
  position: relative;
}

.mountain {
  margin-top: 1rem;
  margin-left: -6rem;
  position: static;
}

.skill-row01 {
  width: 60%;
  margin: auto;
}

.skill-row02 {
  width: 60%;
  margin: auto;
}

.try {
  text-align: left;
}

.friend {
  text-align: left;
}

.BeAFriend {
  text-align: left;
  margin-bottom: 0.0rem;
  position: relative;
}

.TIE {
  text-align: left;
  margin-left: 13.5rem;
  margin-bottom: 0.0rem;
  position: relative;
}

.skills01-img {
  float: left;
  margin-right: 1.25rem;
}

.skills02-img {
  float: right;
  margin-left: 1.0rem;
  margin-bottom: 1.0rem
}

.k9 {
  text-shadow: 0.125rem 0.125rem 0.2rem #33998575;
  margin-top: 0.0rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.mrs {
  text-shadow: 0.125rem 0.125rem 0.25rem #33998575;
}
